{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Pokédex Django</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #ef9fa6;">
        <a class="navbar-brand" href="{% url 'index' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'view_gen' 1 %}">Gen 1 (Kanto)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_gen' 2 %}">Gen 2 (Jotho)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_gen' 3 %}">Gen 3 (Hoenne)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_gen' 4 %}">Gen 4 (Sinnoh)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_gen' 5 %}">Gen 5 (Unova)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_gen' 6 %}">Gen 6 (Kalos)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_gen' 7 %}">Gen 7 (Alola)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_gen' 8 %}">Gen 8 (Galar)</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">{{pokemon.name|title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="{{pokemon.sprite}}" alt="{{pokemon.name}}" class="img-fluid" width="50%">
            </div>
            <div class="col-9">
                <h2>Informations</h2>
                <p><strong>Height:</strong> {{pokemon.height}}m</p>
                <p><strong>Weight:</strong> {{pokemon.weight}}kg</p>
                <p>
                    <strong>Types:</strong> 
                    {% for type in pokemon.type %}
                        <img src="/static/img/type/{{type}}.png" class="mr-1" width="10%" /> 
                    {% endfor %}
                </p>
                <p><strong>Abilities:</strong> 
                    {% for ability in pokemon.ability %} 
                        <p>{{ability|title}}</p> 
                    {% endfor %}</p>
                <p><strong>Base stats:</strong></p>
                <ul>
                    <li>HP: {{pokemon.stats.PV}}</li>
                    <li>Attack: {{pokemon.stats.Attaque}}</li>
                    <li>Defense: {{pokemon.stats.Defense}}</li>
                    <li>Sp. Attack: {{pokemon.stats.AttaqueSpe}}</li>
                    <li>Sp. Defense: {{pokemon.stats.DefenseSpe}}</li>
                    <li>Speed: {{pokemon.stats.Vitesse}}</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>